<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gset.glasshomeauto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.google.android.glass.permission.DEVELOPMENT" />
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="com.gset.glasshomeauto.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/voice_trigger_start" />
        </activity>
        <activity
            android:name="com.gset.glasshomeauto.ToggleActivity"
            android:label="@string/title_activity_toggle" >
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/voice_trigger_toggle" />
        </activity>
        <activity
            android:name="com.gset.glasshomeauto.LiveStreamingActivity"
            android:label="@string/title_activity_live_streaming" >
        </activity>
        <activity
            android:name="com.gset.glasshomeauto.TaskActivity"
            android:label="@string/title_activity_task" >
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/voice_trigger_tasks" />
        </activity>
        <activity
            android:name="com.gset.glasshomeauto.LightActivity"
            android:label="@string/title_activity_light" >
        </activity>
        <activity
            android:name="com.gset.glasshomeauto.LightStatusActivity"
            android:label="@string/title_activity_light_status" >
        </activity>
        <receiver android:name="com.gset.glasshomeauto.BootUpReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver> 
        <service android:name="com.gset.glasshomeauto.ToggleGetService"
                 android:enabled="true" />
    </application>

</manifest>
